<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<h1>Developed and Designed By Prashant</h1>
<h3> Made with <span style="color: #e25555;">&#9829;</span> on Angular 7</h3>
<h5> API used: coinmarketcap.com, cryptocompare.com, coincap.io</h5>

<div class="center">

  <div class="flx">
    <a href="https://github.com/prashant9912"><i class="fa fa-github fa-4x icon-3d"></i></a>
    <a href="https://twitter.com/prashant_9912"> <i class="fa fa-twitter fa-4x icon-3d"></i></a>

    <a href="https://www.instagram.com/rockingpg0/?hl=en"><i class="fa fa-instagram fa-4x icon-3d"></i></a>
    <a href="mailto:support@techllog.com"> <i class="fa fa-envelope fa-4x icon-3d"></i></a>
    <br>
  </div>
  <h2>Find me on</h2>





</div>