

[ticker-b]{
display:inline-block;
margin: 0 10px 0 10px;
background-color: white !important;
box-shadow: 0 0 10px -7px;
padding:10px;
border-radius: 5px;
/* border: 1px red solid; */
}

.green{
    color:green;

}
.red{
    color: red;
}

.hide{
    display: none;
}

.show{
    display: run-in;
}



#maindiv{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: white;
  z-index: 2;
    overflow: hidden;
    white-space: nowrap;

width: 100%;
height:45px;
// border-radius: 0px 0px 0px 0px;


  }
  
  .div1 {
    animation: marquee 25s linear infinite;
    display: inline-block;
      left:100%;
      position: relative;
    

    &:hover{
        -webkit-animation-play-state: paused;
        -moz-animation-play-state: paused;
        -o-animation-play-state: paused;
        animation-play-state: paused;
    }
    @keyframes marquee {
      from {
        transform: translateX(0%);
      }
      to {

        transform: translateX(-110%);
      }
    }
  }


  .scroll{
    animation: marquee 25s linear infinite;
  }


    .scroll0{
    animation: marquee 50s linear infinite;
  }
  

  

  
  
  
 