<!-- <marquee  onmouseover="this.stop();" onmouseout="this.start();">

 
<div  ticker-b *ngFor="let x of ticker;">

    <img style="vertical-align:middle" width= 20px; src="https://www.cryptocompare.com{{x.data.IMAGEURL}}" alt="">
<b> {{x.coin}}</b>
 
<span [ngClass]="(x.data.CHANGEPCT24HOUR>=0)?'green':'red'">
{{x.data.PRICE}}
({{x.data.CHANGEPCT24HOUR}}%)
</span>




</div>

</marquee> -->

<!-- 
<div style="background: red;">
wdw
</div> -->


<div id="maindiv">

        <div #myname class="div1" >
                <div  ticker-b *ngFor="let x of ticker;">

                        <img style="vertical-align:middle" width= 20px; src="https://www.cryptocompare.com{{x.data.IMAGEURL}}" alt="">
                    <b> {{x.coin}}</b>
                     
                    <span [ngClass]="(x.data.CHANGEPCT24HOUR>=0)?'green':'red'">
                    {{x.data.PRICE}}
                    ({{x.data.CHANGEPCT24HOUR}}%)
                    </span>
                    
        </div>
     
      </div>