

[ticker-b]{
display:inline-block;
margin: 0 10px 0 10px;
background-color: white !important;
box-shadow: 0 0 10px -7px;
padding:10px;
border-radius: 5px;
/* border: 1px red solid; */
}

.green{
    color:green;

}
.red{
    color: red;
}